.menu
    text-align: center
    padding: 15px 0
    position: fixed
    top: 0
    right: 0
    z-index: 2
    background-color: white
    box-shadow: 0 0 20px rgba(0, 0, 0, .3)
.menu-items
    display: flex
    align-items: center
    justify-content: center
.menu-item
    display: inline
    margin: 0 10px
    font-weight: 400
.logo
    img
        height: 50px
.cart
    display: flex
    align-items: center
    justify-content: flex-end
.active
    font-weight: 700